
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Awesome project</h1>
        <p class="lead">If you want to know more about the project subscribe to our newletter!</p>
        <!-- Button trigger modal -->
        <p><%= link_to 'Subscribe here ;)', "#", role:"button", class:"btn btn-lg btn-success", data: {toggle: "modal", target: "#myModal"} %></p>
      
      </div>
      
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Subscribe for latest news!</h4>
        
      </div>
      <div class="modal-body">
        <div class="row">
  <%= render 'users/newModal' %>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Marco Turchini ;)</p>
      </footer>

 