<h1>All users</h1>
<table class="table table-striped"><thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
<tr>
  <% @users.each do |user| %>
    <td>
      <%= user.id %>
    </td>
    <td>
      <%= user.name %>
    </td>
    <td>
      <%= user.email %>
    </td></tr>
  <% end %>

</table>
