<!DOCTYPE html>
<html>
<head>
  <title>Ror100daysApp2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= render 'static_pages/header' %>
<%= yield %>
<%= debug(params) if Rails.env.development? %>
</body>
   </div> <!-- /container -->
   
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</html>
